.App {
  background-color: black;
  text-align: center;
}

.link-button {
  background-color: whitesmoke;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.link-button:hover {
  opacity: 0.8;
}
